---
layout: default
title: blog
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1>{{ site.blog_name }}</h1>
  </div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% assign words = post.content | number_of_words %}
      {% assign reading_time = words | divided_by: 200 %}
      {% if reading_time < 1 %}{% assign reading_time = 1 %}{% endif %}
      <li>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <p class="post-meta">{{ reading_time }} min read &nbsp;·&nbsp; {{ post.date | date: '%B %-d, %Y' }}</p>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
